
body {
    overflow-x: hidden;
}
/*
Toast
*/
.toast {
    min-height: 50px;
    min-width: 150px;
    border-radius: 6px;
    display: none;
    position: absolute;
    border: 1px solid grey;
    width: auto;
}

.toast-text {
    line-height: 50px;
    margin-left: 20px;
}
.toast-text::after {
    clear: both;
}

.icon {
    float: left;
    min-height: 30px;
    min-width: 30px;
    background-color: green;
    border-radius: 6px;
    position: relative;
    top: 10px;
}
.icon::after {
    clear: both;
}

.toast-visible {
    animation: cascade-in 0.5s, fade-in 0.5s;
}

.toast-invisible {
    animation: cascade-out 0.5s, fade-out 0.5s;
}

.toast-position-top-right {
    right: 10px;
    top: 10px;
}
.toast-position-top-left {
    left: 10px;
    top: 10px;
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

/*
Modal
*/
.modal {
    min-height: 500px;
    width: 600px;
    position: relative;
    border: 1px solid black;
    border-radius: 6px;
    
}
.modal-container {
    padding: 10px;
    position: inherit;
}
.modal-header {
    margin-bottom: 5px;
    min-height: 50px;
}
.modal-body {
    border: 1px darkslategrey solid;
    background-color: lightgrey;
    min-height: 400px;
    margin-bottom: 5px;
}
.modal-footer {
    min-height: 50px;
    border-top: 1px solid darkslategrey;
}

.modal-title {
    font-size: 26px;
}

.modal-btn {
    margin-top: 10px;
}
.footer-button-wrapper {
    float:right;
}


/*
    Table stylings
*/
.table-g {
    display: table;
    width: 100%;
}

.table-g-row {
    display: table-row;
}

.table-g-heading {
    display: table-header-group;
}

.table-g-cell, .table-g-head {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}
.table-g-head {
    font-size: 24px;
    font-weight: bold;
}

.table-g-body {
    display: table-row-group;
}

/*
standard styling bts etc
*/
.btn {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

/*
Animations
*/
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes cascade-in {
    from {
        right: -10px;
        top: -10px;
    }
    to {
        right: 10px;
        top: 10px;
    }
}

@keyframes cascade-out {
    from {
        right: 10px;
        top: 10px;
    }
    to {
        right: -10px;
        top: -10px;
    }
}