body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    color: var(--text);
    background: var(--bg);
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}


.header-img-text {
    min-height: 370px;
    padding: 1em;
    /*clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);*/
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
}

main {
    padding: 2rem;
}

img {
    margin: 2em 0 0;
    width: 180px;
    height: 180px;
}

.name {
    color: var(--text);
    transition: all 0.3s;
}

.sub-title:hover,
.name:hover {
    color: var(--border-color)
}

/* Navbar */

.navbar {
    height: 70px;
    width: 100%;
    background: var(--bg-nav);
    color: var(--text);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


.dropdown {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 2;
    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-color);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;

    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transform: translateX(-50%);

    transition: opacity .15s ease-out;
}


.has-dropdown:focus .dropdown {
    opacity: 1;
    pointer-events: auto;
}


.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


/* Themes */


:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light {
    --bg: var(--gray0);
    --card: var(--gray3);
    --card-content-bg: var(--gray2);
    --card-intro-text: #171717;
    --bg-nav: linear-gradient(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-color: var(--blue);
    --bg-footer: var(--gray3)
}


.dark {
    --bg: var(--gray5);
    --card: #171717;
    --card-content-bg: var(--gray5);
    --card-intro-text: #f8f8f8;
    --bg-nav: linear-gradient(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-color: var(--purple);
    --bg-footer: var(--purple)
}

#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}



/* Logo Animation */


@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}


.nav-item:hover {
    animation: color-rotate-text 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.logo {
    border: 0.5px solid var(--purple);
    border-radius: 40%;
    filter: grayscale(0%);
    transition: all ease 0.3s;
}

.logo:hover {
    border-radius: 50%;
    filter: grayscale(100%);
    /* animation: color-rotate 1s;
    animation-iteration-count: infinite; 
    animation-direction: alternate; */
}

.sub-title {
    font-size: 12px;
    transition: all 0.3s;
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex-container-no-justify {
    display: fex;
    flex-direction: row;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.column {
    margin: 10px;
    padding: 15px;
}

.box-wrapper {
    padding: 25px;
    max-width: 50%;
}

.flex {
    display: flex;
}

.big {
    font-size: 22px;
    margin-bottom: 15px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--bg-footer);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-submit {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid var(--bg-footer);
    color: var(--text);
    transition: all ease 0.5s;
    float: right;
}

.btn-submit:hover {
    border-radius: 50px;
    background-color: var(--bg-footer)
}

/* custom cols */

.push-down {
    margin-bottom: 50px !important;
}

.row {
    width: 100%;
    margin: 5px;
}

.col {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
}

.col-3 {
    margin-top: 15px;
    width: 33%;
}

.col-6 {
    margin-top: 15px;
    width: 50%;
}

.box {
    margin: 5px;
    display: inline-block;
    padding: 5px;
}

.box-form {
    width: 100%;
    margin: 5px;
    display: inline-block;
    padding: 5px;
}

.title {
    font-size: 16px;
}

.separator {
    border-color: var(--bg-footer);
}

.footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--text);
    background: var(--bg);
    border-top: 1px solid var(--bg-footer);
}

.fa-bigger {
    font-size: 50px;
}

/* overwrites for icons at the bottom to be bigger */
.fa-github,
.fa-linkedin-in,
.fa-id-card {
    cursor: pointer;
}

.ul-pusher {
    position: relative;
}

a:hover,
span:hover {
    transition: all 0.2s ease;
    color: var(--bg-footer);
}


/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: var(--text);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 52px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: var(--bg);
    color: var(--text);
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    background-color: transparent !important;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: var(--bg);
    color: white;
}

/* Modal Content */
.modal-content {
    background-color: var(--bg);
    position: relative;
    margin: auto;
    border: 1px solid var(--bg-footer);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.repo-link {
    text-decoration: none;
    transition: ease 0.2s;
    cursor: pointer;
}

.repo-link:hover {
    color: var(--bg-footer);
}

.flex-container>.vl {
    border-right: 3px solid var(--bg-footer);
    height: inherit;
    margin-left: 3px;
}

/* Custom colours for my toast library (set dark and light) */
.dark-toast {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
}

.light-toast {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;
}




/*
  card stuff
  */

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
    /*box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);*/
}

.card-list::-webkit-scrollbar-track {
    background: none;
}


.card {
    height: 600px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--card);
    box-shadow: -1rem 0 1.5rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card,
.card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.card-intro-text {
    color: var(--card-intro-text) !important;
}

.card-header {
    min-height: 370px;
    padding: 1em;
    /*clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);*/
    background: var(--card-content-bg);
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    text-align: center;
    margin-bottom: auto;
    border-radius: 3px;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
}

/* .card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
} */

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: var(--border-color);
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags span {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: var(--card-intro-text);
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
    cursor: default;
    display: inline-block;
}

.tags span:hover {
    background: linear-gradient(90deg, var(--purple), var(--blue));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}



.header-card {
    background: linear-gradient(180deg, var(--purple), var(--blue));
    position: relative;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 3rem;
}


.header-card-title {
    font-size: 1.6rem;
    margin: 0 0 .5rem;
    transition: all ease-in-out 0.3s;
}


.header-card p {
    margin: 0;
    font-size: 16px;
}




/*
mobvile stuff
*/

@media only screen and (max-width: 768) {
    .card-list {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    [class*="col-"] {
        width: 100%;
    }

    .col {
        width: 100%;
    }

    footer {
        position: relative !important;
        margin-top: 50px;
    }
}
